.videoFooter{
    position: relative;
    color: white;
    bottom: 100px;
    display: flex;
}
.videoFooter__text{
    /* margin sang right luôn; */
    flex: 1;
}
.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    /* thay doi màu sắc */
    filter: invert(1);

}
/* Xoay 360 deg */
@keyframes spinTheRecord { 
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} 